<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEquipeServlet</servlet-name>
        <servlet-class>Controllers.LoginEquipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormulaireAffectationCoureurServlet</servlet-name>
        <servlet-class>Controllers.FormulaireAffectationCoureurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterCoureurEtapeServlet</servlet-name>
        <servlet-class>Controllers.AjouterCoureurEtapeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormulaireAffectationTempsCoureurServlet</servlet-name>
        <servlet-class>Controllers.FormulaireAffectationTempsCoureurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterTempsCoureurEtapeServlet</servlet-name>
        <servlet-class>Controllers.AjouterTempsCoureurEtapeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>Controllers.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutEquipe</servlet-name>
        <servlet-class>Controllers.LogoutEquipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailClassementIndividuelServlet</servlet-name>
        <servlet-class>Controllers.DetailClassementIndividuelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetDatabase</servlet-name>
        <servlet-class>Controllers.ResetDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportMultipleServlet</servlet-name>
        <servlet-class>Controllers.ImportMultipleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportPointsServlet</servlet-name>
        <servlet-class>Controllers.ImportPointsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerationCategorieServlet</servlet-name>
        <servlet-class>Controllers.GenerationCategorieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutPenalitesEquipeServlet</servlet-name>
        <servlet-class>Controllers.AjoutPenalitesEquipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerPenaliteEquipeServlet</servlet-name>
        <servlet-class>Controllers.SupprimerPenaliteEquipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratePDFServlet</servlet-name>
        <servlet-class>Controllers.GeneratePDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreGenerationPDFServlet</servlet-name>
        <servlet-class>Controllers.PreGenerationPDFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEquipeServlet</servlet-name>
        <url-pattern>/LoginEquipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormulaireAffectationCoureurServlet</servlet-name>
        <url-pattern>/FormulaireAffectationCoureurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterCoureurEtapeServlet</servlet-name>
        <url-pattern>/AjouterCoureurEtapeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormulaireAffectationTempsCoureurServlet</servlet-name>
        <url-pattern>/FormulaireAffectationTempsCoureurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterTempsCoureurEtapeServlet</servlet-name>
        <url-pattern>/AjouterTempsCoureurEtapeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutEquipe</servlet-name>
        <url-pattern>/LogoutEquipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailClassementIndividuelServlet</servlet-name>
        <url-pattern>/DetailClassementIndividuelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetDatabase</servlet-name>
        <url-pattern>/ResetDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportMultipleServlet</servlet-name>
        <url-pattern>/ImportMultipleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportPointsServlet</servlet-name>
        <url-pattern>/ImportPointsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerationCategorieServlet</servlet-name>
        <url-pattern>/GenerationCategorieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutPenalitesEquipeServlet</servlet-name>
        <url-pattern>/AjoutPenalitesEquipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerPenaliteEquipeServlet</servlet-name>
        <url-pattern>/SupprimerPenaliteEquipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratePDFServlet</servlet-name>
        <url-pattern>/GeneratePDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreGenerationPDFServlet</servlet-name>
        <url-pattern>/PreGenerationPDFServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            36000
        </session-timeout>
    </session-config>
</web-app>
